.information-container {
  height: 100%;
  padding: 40px;
  .text-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    h1 {
      font-size: 30px;
      font-weight: 600;
    }
    h3 {
      font-size: 22px;
      font-weight: 600;
      margin-top: 20px;
    }
    p {
      line-height: 20px;
    }
  }

}
