<div class="information-container">
  <div class="text-container">
  <h1>Task Information</h1>
  <p>This task represents a simple calculator written using Angular, Nest.js, and MongoDB.</p>

  <h3>Backend:</h3>
  <p>It took me around 3-4 hours. I spent some time watching tutorials about the framework, which gave me a clear vision of the steps.</p>
  <p>I placed the calculation logic in the backend as I treat it as "business logic," which is sensitive.</p>
  <p>I was not sure how much you wanted me to extend the functionality for storing and reading data, so I created a history feature that is saved with every calculation. It might have been a good idea to demonstrate update/delete skills as well.</p>

  <h3>Frontend:</h3>
  <p>It took me around 15 hours in total. I did not have time to refresh my memory on how an Angular application should be structured and essentially how to write Angular code, so I did everything on the fly,
    which definitely slowed me down.</p>
  <p>I believe I have covered a lot in terms of functionality and did not find any bugs.</p>
  <p>I styled everything based on my unique design views.</p>

    <h3>Fixes:</h3>
    <p>Yesterday, I was calculating how much money I had put into my crypto account, and it struck me that my calculator was not working like this.</p>
    <p>For some reason, I got confused and still cannot figure out how I could have messed it up. Maybe it's because I was doing the task without completely testing how a proper calculator should work.</p>
    <p>The fixes took me around 2-3 hours on the BE and FE side.</p>
  </div>
</div>

