  <div class="container">
    <div class="calculator-body" [ngClass]="{'outer-pulsing': isLoading}">
      <div class="calculator-display-container" >
        <p *ngIf="isError" class="error">ERROR!</p>
        <p class="expression-input" *ngIf="!expressionResult && !isError && !chosenOperation">{{ currentNumber }}</p>
        <div *ngIf="chosenOperation && !expressionResult && !isError" class="result-container">
          <p class="expression-result">{{ builtExpression }} {{chosenOperation}}</p>
          <p class="result">{{ currentNumber }}</p>
        </div>
        <div *ngIf="expressionResult && !isError" class="result-container">
          <p class="expression-result">{{ expression }} =</p>
          <p class="result">{{ expressionResult }}</p>
        </div>
      </div>

      <div class="button-container">
        <button *ngFor="let button of buttons" (click)="button.action(button.buttonText)" [class]="button.class || ''"
                [disabled]="isLoading">
          <span *ngIf="button.icon" [class]="button.icon"></span>
          <span *ngIf="!button.icon">{{ button.buttonText }}</span>
        </button>
      </div>
    </div>
  </div>
  <app-history [isOpenHistorySidebar]='isOpenHistorySidebar'
               (toggleHistorySidebar)="toggleHistorySidebar()" [onHistoryClick]="onHistoryClick.bind(this)"></app-history>
  <app-toast [isError]="triggerToastMessageFlag" [errorText]="'Calculation error'"></app-toast>

